
<HTML>
    <body>
        <div>
            <form method="post">
                <input type="text" name="service" placeholder="service:"/>
                <input type="number" name="kratnost" placeholder="kratnost:"/>
                <button type="submit">Add</button>
            </form>
        </div>
        <form method="post" action="filter">
            <input type="text" name="filter"/>
            <button type="submit">Search</button>
        </form>
        <div>Service</div>
        {{#services}}
        <div>
            <b>{{id}}</b>
            <span>{{service}}</span>
            <i>{{kratnost}}</i>
        </div>
        {{/services}}
    </body>
</HTML>