
<HTML>
    <body>
        <div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div>
            <form method="post">
                <input type="text" name="service" placeholder="service:"/>
                <input type="number" name="kratnost" placeholder="kratnost:"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Add</button>
            </form>
        </div>
        <form method="post" action="filter">
            <input type="text" name="filter"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Search</button>
        </form>
        <div>Service</div>
        {{#services}}
        <div>
            <b>{{id}}</b>
            <span>{{service}}</span>
            <i>{{kratnost}}</i>
            <strong>{{authorName}}</strong>
        </div>
        {{/services}}
    </body>
</HTML>