
<HTML>
    <body>
        <div>Service</div>
        {{#services}}
        <div>
            <b>{{id}}</b>
            <span>{{service}}</span>
            <i>{{kratnost}}</i>
        </div>
        {{/services}}
    </body>
</HTML>